<nav aria-label="Page navigation example" class="mt-5">
    <ul class="pagination justify-content-center">
        <li class="page-item {{paginationPreviousDisabled}}">
            <a class="page-link" href="{{baseAdminUrl}}/{{path}}?p={{pagePrevisous}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{paginationNumber}}
        <li class="page-item">
            <a class="page-link {{paginationNextDisabled}}" href="{{baseAdminUrl}}/{{path}}?p={{pageNext}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>