<aside class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <navbar class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <div class="text-white">
            <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-5 d-none d-sm-inline">Sair</span>
            </a>
        </div>

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="{{baseAdminUrl}}/{{postListingPath}}" class="nav-link align-middle px-0">
                    <span class="ms-1 d-none d-sm-inline">Postagens</span>
                </a>
            </li>
            <li>
                <a href="{{baseAdminUrl}}/{{categoriesListingPath}}" class="nav-link px-0 align-middle">
                    <span class="ms-1 d-none d-sm-inline">Categorias</span></a>
            </li>
            <li>
                <a href="{{baseAdminUrl}}/{{usersListingPath}}" class="nav-link px-0 align-middle">
                    <span class="ms-1 d-none d-sm-inline">Usuários</span>
                </a>
            </li>
            <li>
                <a href="{{baseAdminUrl}}/{{pagesListingPath}}" class="nav-link px-0 align-middle">
                    <span class="ms-1 d-none d-sm-inline">Páginas</span>
                </a>
            </li>
        </ul>
    </navbar>
</aside>